################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

.vs/DigitalVoltmeter/v15/.suo
.vs/DigitalVoltmeter/v15/sqlite3/storage.ide
